#grid{
    height: 100%;
    width: 100%;
    background-color: black;
}

#flexbox{
    height: 720px;
    width: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border-top: 1rem;

}
.container{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 5px;
}

.item1{
    grid-row: span 2;
    height: auto;
}

.item3{
    grid-row: span 2;
    height: auto;
}

.item4{
    grid-row: span 2;
    height: auto;
}

div img:hover  {
      object-fit:cover;
      position: relative;
      filter: brightness(100%);
      transform: scale(1.5);
      z-index: 1;
      box-shadow: 0 0 900px 900px rgba(15, 15, 15, 0.926);
  }